@import url('normalize.css');
@import url('bootstrap.min.css');
body, 
html{
	height: 100%;
	width: 100%;
	font-size: 16px;
	position: relative;
	background-color: rgb(228, 228, 228);  
}

.grid{
	display: grid;
	grid-template-columns: 50% 50%;
	width: 80%;
	height: 90%;
	border: 1px solid black;
	border-radius: 50px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	grid-template-rows: 20% 100%;
}
.titulo{
	grid-column: 1/3;
	text-align: center;
	display: grid;
	grid-template-columns: 33% 33% 29%;
}
.cierre{
	justify-self: end;
	display: flex;
	justify-content: center;
	align-items: center;
}
.selector{
	height:80%;
	text-align: center;
}
.selector>form{
	margin: 20px;
	padding: 20px;
}
.input{
	width: 90%;
	border-radius: 20px;
	padding: 2%;
	margin: 3%;
}
.input2{
	width: 90%;
	padding: 0.5%;
	margin: 1%;
}
.Metodo{
	height:80%;
}
.Metodo>form{
	width: 80%;
	height: 90%;
	background-color: rgb(228, 228, 228);
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 12% 15% 14% 14% 14% 14% 14%;
	margin-left: 5%;
	margin-right: 5%;
	border-radius: 50px;
	padding: 5px;
}
.Metodo>form>h4{
	grid-column: 1/3;
}
.form-group1{
	grid-column: 1/3;
}
.form-group1>input{
	width: 94%;
}