/*---- GENERALES ----*/
*{
    box-sizing: border-box;
}
body {
    margin: 0;
    background: var(--colorfondo);
    font-family: Georgia, 'Georgia', Times, serif;
}
.container {
    max-width: 90%;
    margin: auto;
}
:root {
    --colorform2: rgb(241, 241, 241);
    --colorform1: rgba(7, 214, 0, 0.377);
    --colornegro: black ; 
    --colorfondo: rgb(63, 65, 64);
    --colortexto: rgb(1, 31, 3);
    --colorblanco: rgb(255, 255, 255);
    --colorenviar: rgb(150, 22, 0);
    --error: rgb(126, 3, 3);
}

/*---- FORMULARIO ----*/
.formulario {
    border-top: 5px solid rgb(255, 0, 0) ;
    max-width: 400px;
    padding: 30px 50px;
    margin: auto;
    margin-top: 10px;
    background: linear-gradient(
        0deg,
        var(--colorform1) 0%,
        var(--colorform2) 105%
    );
}
.tituloform {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
    letter-spacing: 3px;
}
.form-input{
    margin-bottom: 30px;
    margin-top: 10px;
}
.form-input label {
    display: block;
    margin-top: 3px;
    font-size: 15px;
    color: var(--colortexto);
}
.form-input input{
    width: 100%;
    border: none;
    outline: none;
    background: none;
    border-bottom: 2px solid var(--colortexto);
}
.form-input input:focus + label{
    font-weight: bold;
    color: var(--colornegro);
}
.boton-enviar input {
    background: var(--colortexto);
    color: var(--colorblanco);
    padding: 10px 50px;
    font-size: 15px;
    display: block;
    margin: auto;
    margin-top: 30px;
    border: none;
}
.boton-enviar input:hover {
    background: var(--colorenviar);
    transition: 0.5s;
}
.mensajeError {
    color: var(--error);
    margin-top: 0px;
    font-size: 12px;
    letter-spacing: 1px;
}
.mensajeCorrecto{
    text-align: center;
    font-weight: bold;
}
.foto{
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 40%;
    overflow: hidden;
    margin: auto;
}

.foto img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mantenerSesion {
    text-align: center;
    line-height: 50px;
    margin-top: 10px;
}
