body, 
html{
	height: 99%;
	width:99%;
	font-size: 16px;
	position: relative;
	background-color: rgb(228, 228, 228);  
}

.grid{
	display: grid;
	grid-template-columns: 100%;
	width: 100%;
	height: 100%;
	position: relative;
	background-color: white;
	grid-template-rows: 10% 30% 45% 15%;
}
.cabecera{
    align-items: center;
	text-align: center;
    background-color: rgba(6, 71, 0, 0.411);
	display: grid;
	grid-template-columns: 50% 45% 4%;
}
.logo{
    justify-self:start; 
	display: flex;
	justify-content: center;
	align-items: center;
}
.cierre{
	justify-self: end;
	display: flex;
	justify-content: center;
	align-items: center;
}
.profe{
	justify-self: end;
	display: flex;
	justify-content: center;
	align-items: center;
}
.bienvenida{
    display: flex;
	justify-content: center;
	align-items: center;
    font-size: 300%;
}
.cuerpo{
    align-items: center;
	text-align: center;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
    grid-template-rows: 20% 80%;
    
}
.pregunta{
    grid-column: 1/7;
	text-align: center;
	display: grid;
    font-size: 200%;
}
.boton{
    text-align: center;
    display: grid;
    height:60%;
    width: 55%;
    margin: auto;

}
.boton>button{
    background-color: white;
    border-radius: 20px;
}
.foter{
    align-items: center;
    display: grid;
    text-align: center;
    justify-self: end;
    color: red;
}
