@import url('normalize.css');
@import url('bootstrap.min.css');
body, 
html{
	height: 100%;
	width: 100%;
	font-size: 16px;
	position: relative;
	background-color: rgb(228, 228, 228);  
}

.grid{
	display: grid;
	grid-template-columns: 50% 50%;
	width: 80%;
	height: 90%;
	border: 3px solid rgb(12, 12, 12);
	border-radius: 50px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	grid-template-rows: 20% 100%;
}
.titulo{
	grid-column: 1/3;
	text-align: center;
	display: grid;
	grid-template-columns: 33% 33% 29%;
}
.cierre{
	justify-self: start;
	display: flex;
	justify-content: center;
	align-items: center;
}
.cierre1{
	justify-self: end;
	display: flex;
	justify-content: center;
	align-items: center;
}
.selector{
	height:80%;
	text-align: center;
}
.selector>form{
	margin: 20px;
	padding: 20px;
}
.input{
	width: 90%;
	border-radius: 20px;
	padding: 2%;
	margin: 3%;
}
.input2{
	width: 90%;
	padding: 0.5%;
	margin: 1%;
}
.Metodo{
	height:80%;
}
.Metodo>form{
	width: 70%;
	height: 90%;
	background-color: rgb(230, 250, 229);
	display: grid;
	grid-template-columns: 10% 40% 40% 10%;
	grid-template-rows: 12% 15% 14% 14% 14% 14% 14%;
	margin-left: 20%;
	margin-right: 20%;
	border-radius: 20px;
	border: 1px solid rgb(12, 12, 12);
	padding: 10px;
}
.Metodo>form>h4{
	grid-column: 2/4;
}
.form-group1{
	
	grid-column: 2/4;
}
.form-group1>input{
	width: 94%;
}
.form-group2{
	
	grid-column: 4/4;
}
.form-group2>input{
	width: 94%;
}
.form-group3{
	
	grid-column: 4/4;
}
.form-group3>input{
	width: 94%;
}