:root {
    --color-verde: #daf579;
    --color-tomato: #b13838;
    --color-blanco: #ffffff;
    --color-neg: #000000;
    --color-grey: #0000003f;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    font-weight: 300;
    background-color: var(--color-grey);
    color: var(--color-neg);
    letter-spacing: .05rem;
}

.stag1 {
    background-color: var(--color-neg)!important;
}

.stag2 {
    background-color: var(--color-verde)!important;
}

.p-6 {
    padding: 4rem 7rem;
}

/*.contact-box {
    padding: 3rem;
}*/

.btn {
    font-weight: 400;
    padding: 1rem 2rem;
    border-radius: 5rem;
    min-width: 10rem;
    background-color: tomato;
}

.btn-outline-dark {
    border: 2px solid var(--color-blanco);
}


.formulario-cont {
    background-color: var(--color-blanco);
    border: 2px solid var(--color-blanco);
    border-radius: .2rem;
    padding: 1.5rem 1rem;
}

.register-bg {
    background-image: url('images/hero.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.testiomonial {
    bottom: 10px
}

@media (max-width: 575.98px) {
    .p-6 {
        padding: 2rem;
    }

    .contacto {
        padding: 0;
    }

    .width-100 {
        width: 100%;
    }
}

@media (max-width: 1200px) { 
    .register-bg {
        min-height: 50vh;
    }


.logo1 {
    padding: 10px; 
    margin: 10px; 
    border: 2px solid black; 
    float: left; 
    width: 250px;
}

}